
<div class="container">
  <div class="box">
    <div class="inputs">
      <div class="input-single">
        <input required type="text" name="" id="username" class="input" />
        <label for="username" class="label">Username</label>
      </div>

      <div class="input-single">
        <input required type="text" name="" id="password" class="input" />
        <label for="password" class="label">Password</label>
      </div>

      <button
        mat-raised-button
        color="primary"
        style="margin-left: 78px; top: 77px"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<div class="lines" *ngFor="let item of repeat(4)">
  <hr />
  <br />
</div>
