.example-card {
  max-width: 320px;
  background-color: #ffffff;
  border: solid 3px #000;
  box-shadow: 1rem 10px #5e17eb;
  width: 320px;

}

.event-component {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 2%;
}

