.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  font-size: 30px;
  background-color: #0b0b0b;
  color: #3f51b5;
  margin-bottom: 52px;
}


#header-date{
  font-size: 14px;
  color: #fff;

}

.container-date{
  display: flex;
  justify-content: center;
}

